{% extends 'base.html' %}

{% block css%}
<style>
    .result-container {
        position: absolute;
        top: 50%;
        left: 50%;
        background:  rgb(185, 27, 114);
    WIDTH: 400PX;
    padding: 1rem;
    TRANSFORM: translateX(-50%);
    }
    .result-container .result title h2 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        text-decoration: underline;
    }
</style>
{% endblock %}
{% block main%}
{% for res in result %}
    <div class="result-container">
        <div class="result">
            <h2>
                {{ res.title }}
            </h2>

            <p>{{ res.content }}</p>

    </div>
{% endfor %}
<p>{{ search_result|safe }}</p>
{% endblock %}