<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login1-css.css')}}">
    <title>PH KASAYSAYAN - Login</title>

    <style>
        .eye {
            transform: translateY(5%);
        }
    </style>
</head>
<body>
    <div class="login-container">
    <h2>MABUHAY !</h2>
    <form id="loginForm" method="post">
        {{ forms.hidden_tag() }}
        <!-- Your existing login form inputs here -->
        
        {{ forms.username(placeholder='Username') }}
        <div class="password-input">
            {{ forms.password(placeholder='Password')}}
            <img class="eye" src="{{url_for('static', filename='./PICS/close.png')}}" onclick="togglePasswordVisibility()">
        </div>
        <!-- Moved the button inside the form -->
        <button type="button" class="forgot-password-btn">Forgot Password?</button>
        {{ forms.submit }}
        
    </form>
    <p><a href="{{url_for('/.home')}}">Continue as Guest</a></p>
    <p>No Account? <a href="{{ url_for('/auth.register')}}">Signup here</a>.</p>
</div>

    <script src="{{ url_for('static', filename='auth/loginjs.js')}}"></script>
</body>
</html>