{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='gallery/gallery.css')}}">
{% endblock %}
{% block main%}
	
<!-- CONTENTS -->	
			<main id="mainContent">
    <section class="content-section">
        <h2>GALLERY</h2>
        <div class="rectangle-container">
            <!-- 15 rectangle boxes -->
           <div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
            <div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='gallery/UwU.jpg')}}" alt="Image">
			<div class="text">UwU</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/danni.jpg" alt="Image">
			<div class="text">DANIELLE</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/minji.jpg" alt="Image">
			<div class="text">MINJI</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/haerin.jpg" alt="Image">
			<div class="text">KANG HAERIN</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/hanni.jpg" alt="Image">
			<div class="text">HANNI PHAM</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/hyein.jpg" alt="Image">
			<div class="text">HYEIN</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/danni.jpg" alt="Image">
			<div class="text">DANIELLE MARSH</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/minji.jpg" alt="Image">
			<div class="text">KIM MINJI</div>
			</div>
			
			<div class="rectangle">
			<img src="../PICS/haerin.jpg" alt="Image">
			<div class="text">VANESSA KHANG</div>
			</div>
			
        </div>
    </section>
</main>


{% endblock %}