{% extends 'base.html'%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='hero/bookshelf.css')}}">
{% endblock %}
{% block main %}
    <div class="bookshelf">
   
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> Dune</span>
          <span class="spine-author"> Frank Herbert </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/I/81TmnPZWb0L._SL200_.jpg);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> 1984</span>
          <span class="spine-author"> George Orwell </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/I/71rpa1-kyvL._SL200_.jpg);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> To Kill a Mockingbird</span>
          <span class="spine-author"> Harper Lee </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/I/81aY1lxk+9L._SL200_.jpg);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> The Lord of the Rings</span>
          <span class="spine-author"> J.R.R. Tolkien </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/I/7125+5E40JL._SL200_.jpg);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> Harry Potter and the Sorcerer's Stone </span>
          <span class="spine-author"> J.K. Rowling </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://m.media-amazon.com/images/I/91wKDODkgWL._SL200_.jpg);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> Tim burnik </span>
          <span class="spine-author"> Allen kalbo </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://th.bing.com/th?id=OIP.JdR3BTbHuGbrE1S5pLkxhgHaE7&w=306&h=203&c=8&rs=1&qlt=90&r=0&o=6&dpr=1.3&pid=3.1&rm=2);cursor:pointer;"> 
        </div>
      </div>
      
      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> Jhay </span>
          <span class="spine-author"> Mhikey</span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://th.bing.com/th?id=OIP.MyArgq8ICNcZyI4tngVbyAAAAA&w=205&h=304&c=8&rs=1&qlt=90&r=0&o=6&dpr=1.3&pid=3.1&rm=2);cursor:pointer;"> 
        </div>
      </div>

      <div class="book">
        <div class="side spine ">
          <span class="spine-title"> National Hero</span>
          <span class="spine-author"> Utak ng Himagsikan </span>
        </div>
        <div class="side top"></div>
        <div class="side cover" 
             style="background-image: url(https://th.bing.com/th?id=OIP.f8PiWvsC--x99565I6wB0QHaNK&w=187&h=333&c=8&rs=1&qlt=90&r=0&o=6&dpr=1.3&pid=3.1&rm=2);cursor:pointer;"> 
        </div>
      </div>
      <script>
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

function randomChoice(array) {
  return array[Math.floor(Math.random() * array.length)];
}

let spines = Object.values(document.getElementsByClassName("spine"));
let covers = Object.values(document.getElementsByClassName("cover"));
let tops = Object.values(document.getElementsByClassName("top"));

let availablePatterns = [
  "--spine-pyramid",
  "--spine-stairs",
  "--spine-argyle",
  "--spine-tartan"
];

let availableColors = [
  "maroon",
  "darkgreen",
  "darkolivegreen",
  "brown",
  "saddlebrown",
  "sienna",
  "midnightblue",
];

// assign a random height, pattern and colour to each book
spines.map(function (s, i) {
  let randomHeight = getRandomInt(220, 290);
  s.style.height = `${randomHeight}px`;
  s.style.top = `${280 - randomHeight}px`;

  let randomPattern = randomChoice(availablePatterns);
  s.style.backgroundImage = `var(${randomPattern})`;

  let randomColor = randomChoice(availableColors);
  s.style.backgroundColor = randomColor;

  covers[i].style.height = `${randomHeight}px`;
  covers[i].style.top = `${280 - randomHeight}px`;

  tops[i].style.top = `${280 - randomHeight}px`;
});
      </script>
 {% endblock %}

