{% extends 'base.html' %}
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='hero/hero.css')}}">
{% endblock %}


{% block main %}
<div class="content-container">
    <img src="https://preview.redd.it/i-want-to-print-a-poster-a2-or-a3-of-lotm-any-suggestions-v0-smyeaj5g3pib1.jpg?width=1520&amp;format=pjpg&amp;auto=webp&amp;s=806cbbbf110250a1d23090f370aacac334c4d34a" alt="I want to print a poster ( A2 or A3 ) of LoTM. Any ..."/>
    
  <div class="img-prof">
    <img src="https://pbs.twimg.com/profile_images/1715833972331036672/8Jr-AYAC_200x200.jpg" alt="">
    <div class="text-container">
      <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, voluptate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in alias architecto corrupti! Quaerat error quia qui amet laudantium. Dolores tenetur tempora minus totam illum, suscipit soluta maiores repudiandae eligendi illo consequatur. Maiores accusamus nam vel obcaecati vero earum recusandae, iusto architecto ipsum dolores veritatis? Dignissimos deserunt doloribus ipsa consequuntur.</p>
    </div>
  </div>
  </div>
  
  <main>
    <aside>
    <!-- <img id='sideprof' src="https://pbs.twimg.com/profile_images/1715833972331036672/8Jr-AYAC_200x200.jpg" alt="">

    <ul>
      <li>lorem10</li>
      <li>lorem10</li>
      <li>lorem10</li>
    </ul>
  </aside>
  <div class="main-content">
    <div class="summary">
      <h2 class="title">{{ hero }}</h2>
      <hr>

    </div>
    <p>something Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum architecto minima laboriosam.</p>
    <div class="accomplishment">
      <h2 class="title">accomplishment</h2>
      <hr>
      {{ hero.contribution }}
    </div>
    <div class="summary">
      <h2 class="title">Biography</h2>
      <hr>

    </div>
    <p>{{ hero.bio }}</p>
    <div class="accomplishment">
      <h2 class="title">accomplishment</h2>
      <hr>
      <p>description Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis voluptate sint delectus, aliquid similique hic placeat, iusto dolor ex eligendi incidunt fugiat nostrum officiis debitis exercitationem. Tempora quos dolorum voluptate fuga saepe omnis facere fugiat quae neque! Accusantium quidem vero ducimus aliquam voluptates aperiam exercitationem ex dignissimos distinctio possimus?</p>
    </div>
  </div>
<aside> 
      something here
    </aside>
    humbo di makulanan
  -->

    <div class="cover">
      <div class="book">
      <label for="page-1"  class="book__page book__page--1">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/193203/1111.jpg" alt="">
      </label>
      
      <label for="page-2" class="book__page book__page--4">
        <div class="page__content">
          <h1 class="page__content-title">I</h1>
          <div class="page__content-blockquote">
            <p class="page__content-blockquote-text">HARI SELDON — . . . born in the 11,988th year of the Galactic Era; died 12,069. The dates are more commonly given in terms of the current Foundational Era as -79 to the year 1 F.E. Born to middle-class parents on Helicon, Arcturus sector (where his father, in a legend of doubtful authenticity, was a tobacco grower in the hydroponic plants of the planet), he early showed amazing ability in mathematics. Anecdotes concerning his ability are innumerable, and some are contradictory. At the age of two, he is said to have. . . </p>
            <p class="page__content-blockquote-text">. . . Undoubtedly his greatest contributions were in the field of psychohistory. Seldon found the field little more than a set of vague axioms; he left it a profound statistical science. . . . </p>
            <p class="page__content-blockquote-text">. . . The best existing authority we have for the details of his life is the biography written by Gaal Dornick who, as a young man, met Seldon two years before the great mathematician's death. The story of the meeting . . .</p>
            <span class="page__content-blockquote-reference">Encyclopedia Galactica*</span>
          </div>
          <div class="page__content-text">
            <p>His name was Gaal Dornick and he was just a country boy who had never seen Trantor before. That is, not in real life. He had seen it many times on the hyper-video, and occasionally in tremendous three-dimensional newscasts covering an Imperial Coronation or the opening of a Galactic Council. Even though he had lived all his life on the world of Synnax, which circled a star at the edges of the Blue Drift, he was not cut off from civilization, you see. At that time, no place in the Galaxy was. </p>
    
            <p>There were nearly twenty-five million inhabited planets in the Galaxy then, and not one but owed allegiance to the Empire whose seat was on Trantor. It was the last half-century in which that could be said. </p>
            <p>To Gaal, this trip was the undoubted climax of his young, scholarly life. He had been in space before so that the trip, as a voyage and nothing more, meant little to him. To be sure, he had traveled previously only as far as Synnax's only satellite in order to get the data on the mechanics of meteor driftage which he needed for his dissertation, but space-travel was all one whether one travelled half a million miles, or as many light years. </p>
          </div>
          <div class="page__number">3</div>
        </div>
      </label>
        
      <!-- Resets the page -->
      <input type="radio" name="page" id="page-1"/>
        
      <!-- Goes to the second page -->
      <input type="radio" name="page" id="page-2"/>
      <label class="book__page book__page--2">
        <div class="book__page-front">
          <div class="page__content">
            <h1 class="page__content-book-title">Foundation</h1>
            <h2 class="page__content-author">Isaac Asimov</h2>
            
            <p class="page__content-credits">
              Introduction by 
              <span>Paul Krugman</span>
            </p>
            
            <p class="page__content-credits">
              Illustrations by 
              <span>Alex Wells</span>
            </p>
            
            <div class="page__content-copyright">
              <p>The Folio Society</p>
              <p>London - MMXII</p>
            </div>
          </div>
        </div>
        <div class="book__page-back">
          <div class="page__content">
            <h1 class="page__content-title">Contents</h1>
            <table class="page__content-table">
              <tr>
                <td align="left">Part I</td><td align="left">The Psycohistorians</td><td align="right">3</td>
              </tr>
              <tr>
                <td align="left">Part II</td><td align="left">The Encyclopedists</td><td align="right">43</td>
              </tr>
              <tr>
                <td align="left">Part III</td><td align="left">The Mayors</td><td align="right">87</td>
              </tr>
              <tr>
                <td align="left">Part IV</td><td align="left">The Traders</td><td align="right">147</td>
              </tr>
              <tr>
                <td align="left">Part V</td><td align="left">The Merchant Princes</td><td align="right">173</td>
              </tr>
            </table>
            
            <div class="page__number">2</div>
          </div>
        </div>
      </label>
    </div>
    </div>
  </main>
  


<script src="{{ url_for('static', filename='hero/hero.js')}}"></script>
{% endblock %}