{% extends 'base.html' %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='timeline/timeline.css')}}">
<style>

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.timeline {
    position: absolute;
    max-width: 1200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #2196F3;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #2196F3;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left::after {
    left: -16px;
}

.right::after {
    left: -16px;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    max-height: 50px; /* Initial height */
    transition: max-height 0.3s ease;
}

.container.expanded .content {
    max-height: 200px; /* Adjust to desired expanded height */
}

.content h2 {
    color: #2196F3;
}

@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::after {
        left: 60px;
    }

    .left::after, .right::after {
        left: 60px;
    }

    .right {
        left: 0%;
    }
}

</style>
{% endblock %}
{% block main %}
<!-- Connected jquery using CDN -->
<script
			  src="https://code.jquery.com/jquery-3.7.1.js"
			  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			  crossorigin="anonymous"></script>


			  <div class="timeline">
				<div class="container left" onclick="toggleContent(this)">
					<div class="content">
						<h2>1776</h2>
						<p>American Declaration of Independence</p>
					</div>
				</div>
				<div class="container right" onclick="toggleContent(this)">
					<div class="content">
						<h2>1789</h2>
						<p>French Revolution</p>
					</div>
				</div>
				<div class="container left" onclick="toggleContent(this)">
					<div class="content">
						<h2>1865</h2>
						<p>End of the American Civil War</p>
					</div>
				</div>
				<div class="container right" onclick="toggleContent(this)">
					<div class="content">
						<h2>1914</h2>
						<p>Start of World War I</p>
					</div>
				</div>
				<div class="container left" onclick="toggleContent(this)">
					<div class="content">
						<h2>1945</h2>
						<p>End of World War II</p>
					</div>
				</div>
				<div class="container right" onclick="toggleContent(this)">
					<div class="content">
						<h2>1969</h2>
						<p>First Moon Landing</p>
					</div>
				</div>
				<div class="container left" onclick="toggleContent(this)">
					<div class="content">
						<h2>1989</h2>
						<p>Fall of the Berlin Wall</p>
					</div>
				</div>
			</div>



<!-- 
			  <section class="cd-horizontal-timeline">
				<div class="timeline">
					<div class="events-wrapper">
						<div class="events">
							<ol>
								<li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
								<li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
								<li><a href="#0" data-date="20/04/2014">20 Mar</a></li>
								<li><a href="#0" data-date="20/05/2014">20 May</a></li>
								<li><a href="#0" data-date="09/07/2014">09 Jul</a></li>
								<li><a href="#0" data-date="30/08/2014">30 Aug</a></li>
								<li><a href="#0" data-date="15/09/2014">15 Sep</a></li>
								<li><a href="#0" data-date="01/11/2014">01 Nov</a></li>
								<li><a href="#0" data-date="10/12/2014">10 Dec</a></li>
								<li><a href="#0" data-date="19/01/2015">29 Jan</a></li>
								<li><a href="#0" data-date="03/03/2015">3 Mar</a></li>
							</ol>
			
							<span class="filling-line" aria-hidden="true"></span>
						</div> .events 
					</div> <!-- .events-wrapper
						
					<ul class="cd-timeline-navigation">
						<li><a href="#0" class="prev inactive">Prev</a></li>
						<li><a href="#0" class="next">Next</a></li>
					</ul> .cd-timeline-navigation -
				</div> <!-- .timeline -
			
				<div class="events-content">
					<ol>
						<li class="selected" data-date="16/01/2014">
							<h2>Horizontal Timeline</h2>
							<em>January 16th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="28/02/2014">
							<h2>Event title here</h2>
							<em>February 28th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="20/04/2014">
							<h2>Event title here</h2>
							<em>March 20th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="20/05/2014">
							<h2>Event title here</h2>
							<em>May 20th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="09/07/2014">
							<h2>Event title here</h2>
							<em>July 9th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="30/08/2014">
							<h2>Event title here</h2>
							<em>August 30th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="15/09/2014">
							<h2>Event title here</h2>
							<em>September 15th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="01/11/2014">
							<h2>Event title here</h2>
							<em>November 1st, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="10/12/2014">
							<h2>Event title here</h2>
							<em>December 10th, 2014</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="19/01/2015">
							<h2>Event title here</h2>
							<em>January 19th, 2015</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
			
						<li data-date="03/03/2015">
							<h2>Event title here</h2>
							<em>March 3rd, 2015</em>
							<p>	
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
							</p>
						</li>
					</ol>
				</div>  .events-content -->
			</section> 

<script>
	// const navS = document.querySelector('#navSidebar');
	// navS.style.display = 'none';

	function toggleContent(container) {
    container.classList.toggle("expanded");
}

</script>
<!-- <link rel="stylesheet" href=""> -->
<script src="{{ url_for('static', filename='timeline/timeline.js')}}"></script>
{% endblock %}