{% extends 'base.html' %}
{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz/pretest.css')}}">
    <title>PRE TEST</title>
{% endblock %}


{% block main%}
	
<!-- CONTENTS -->	
			<main id="mainContent">
    <section class="content-section">
	     <h2>PRE-TEST</h2>
		 
		 <form action="">
            {{ forms.hidden_tag() }}
            {{ forms.answer.label }}
            {{ forms.answer }}
            {{ forms.submit }}
         </form>
	 </section>
</main>
{% endblock %}