{% extends 'base.html'%}
{% block css%}
<title>QUIZ TIME</title>
<link rel="stylesheet" href="{{ url_for('static', filename='quiz/quiz1-css.css')}}">
{% endblock %}

{% block main %}
<main id="mainContent">
    <section class="content-section">
        <h2>Quiz Time</h2>
        <div class="rectangle-container">
		
            <!-- 15 rectangle boxes -->
           <div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 1</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
            <div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 2</div>
			<div class="dropdown">
				<a href="{{ url_for('/.pre_test')}}">Pre-test</a>
				<a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 3</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 4</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 5</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 6</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 7</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 8</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 9</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 10</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 11</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 12</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}s" alt="Image">
			<div class="text">Lesson 13</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 14</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
			<div class="rectangle">
			<img src="{{ url_for('static', filename='./PICS/WT.jpg')}}" alt="Image">
			<div class="text">Lesson 15</div>
			<div class="dropdown">
        <a href="{{ url_for('/.pre_test')}}">Pre-test</a>
        <a href="{{ url_for('/.post_test')}}">Post-test</a>
    </div>
			</div>
			
        </div>
    </section>
</main>
{% endblock %}