* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.socmed {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-content: space-between; */
}
.post-container {
    margin: 1rem 3rem;
    width: 30vw;
    border-radius: 5%;
    min-height: 10vh;
    background: pink;
}
/* .post-container .post {
    margin-bottom: 1rem;
} */