<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ e }}</title>

    <style>
        body {
            height: 100vh;
            font-weight: 700;
            font-size: 1.6rem;
            height: 100vh;
            display: flex;
            place-items: center;
        }
    </style>
</head>
<body>
    <div class="main">
        {% block error %} {% endblock %}
    </div>
</body>
</html>